.workHistoryItem {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

[data-theme="light"] .workHistoryItem {
  background-color: #f2f2f2;
}

[data-theme="dark"] .workHistoryItem {
  background-color: #333;
  color: #fff;
}

.detailsButton {
  cursor: pointer;
  float: right;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  margin-right: 25px;
}

.jobTitle {
  margin-bottom: 5px;
}

.skill {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

[data-theme="light"] .skill {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

[data-theme="dark"] .skill {
  background-color: #5a5a5a;
  color: #fff;
  border-radius: 5px;
}
